<div class="join_sa">
    <div id="market-title">
    <h2>Motley Fool Returns vs S&P</h2>
    <img alt="Motley Fools Stock Advisor has out performed the market by over 200% over the last 18 years" src="https://g.foolcdn.com/misc-assets/5aug2019_savsp500_10kgrowth_2.png">
    </div>
<div id="market-chart">
        <div id="SA_SP">
            <span class="return-stat">
                <span>Stock Advisor</span>
            </span>
            <span class="return-stat">
                <span>S&P 500</span>
            </span>
        </div>
        <div class="return-year">
            <span>5 Years</span>
        </div>
        <div class="return-data">
            <!-- Stock advisor 5y -->
                <span class="return-stat">
                    <span>63%</span>
                </span>
                <!-- SP500 5y-->
                <span class="return-stat">
                    <span>41%</span>
                </span>
        </div>
        <div class="return-year">
            <span>17+ years</span>
        </div>
        <div class="return-data">
            <!-- Stock Advisor 17y -->
            <span class="return-stat">
                <span>371%</span>
            </span>
            <!-- S&P 17y -->
            <span class="return-stat">
                <span>99%</span>
            </span>
        </div>
        <div id="SA_info">
            <p>Stock Advisor launched in February of 2002. Returns as of 12/27/2019.</p>
            <a class="button" href="https://www.fool.com/mms/mark/op-sa-v-sp-wdg">Join Stock Advisor</a>
        </div>
    </div>
</div>
</div>